.bg-blue{
    background-color: #0b092e
}
.page{
    height: 100vh;
    display: flex;
    align-items: center;
}
.nav-item{
    text-decoration: none;
    color: white;
    transition: border-bottom 1s;   
    position: relative;
    padding: 10px;
}
.nav-item:hover{
    color: white;
}
.nav-item::after ,.nav-item::before{
    content: " ";
    width:10px;
    height: 10px;
    position: absolute;
    transition: all 1s;
}
.nav-item::after{
    top:0px;
    left:0px;
    border-top:2px solid #01ffff;
    border-left:2px solid #01ffff;
}
.nav-item::before{
    bottom:0px;
    right: 0px;
    border-bottom: 2px solid #01ffff;
    border-right: 2px solid #01ffff;
}
.nav-item:hover::after{
    width: 100%;
    height: 100%;
    border-top: 2px solid #ff9400;
    border-left: 2px solid #ff9400;
}
.nav-item:hover::before{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ff9400;
    border-right: 2px solid #ff9400;
}
.home-image {
    background-image: url("picture/background1.jpg");
    background-color: #cccccc;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.connection-bar a {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #ff9400;
    transition: border-bottom 1s;
}

.connection-bar a:hover{
    color:white;
    border-bottom: 2px solid #01ffff;
}
